<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<!--<listener class-name="com.MavenFirstProject.ExtentReport"></listener>-->
<listener class-name="com.MavenFirstProject.TestListeners"></listener>
<!--  <listener class-name="com.MavenFirstProject.RetryAnalyzer"></listener>-->
</listeners>
  <test name="Test">
    <classes>
      <class name="com.MavenFirstProject.LoginTest"/>
      <class name="com.MavenFirstProject.DashboardTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
